<hr />
<h5>Ric on the Net <span class="small fw-lighter">(the one without a dot)</span>:</h5>
<div class="about-container">
  <img class="about-picture" src="/images/ric-sidebar.png" alt="Ric's avatar" width="200" height="200">
  <ul class="list-unstyled about-links">
    <li><a href="https://github.com/rdeago"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/rdeago"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://rdeago.medium.com"><i class="fab fa-medium"></i> Medium</a></li>
    <li><a href="https://keybase.io/rdeago"><i class="fab fa-keybase"></i> Keybase</a></li>
    <li><a href="https://twitter.com/rdeago"><i class="fab fa-twitter"></i> Twitter</a></li>
    <li><a href="https://www.nuget.org/profiles/rdeago"><i class="fa fa-archive"></i> NuGet</a></li>
    <li><a href="https://stackoverflow.com/users/5753412/rdeago"><i class="fab fa-stack-overflow"></i> Stack&nbsp;Overflow</a></li>
  </ul>
</div>
